@using ASPNETMVCCRUD.Areas.Students.ViewModels
@using ASPNETMVCCRUD.Areas.Students.Models
@model IndexRecordViewModel
@{
    ViewData["Title"] = "Student Page";
}

<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Students</h4>

            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="/">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="/Students">Students</a>
                </li>
               
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Students</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="basic-datatables" class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>LRN</th>
                                        <th>First Name</th>
                                        <th>Middle Name</th>
                                        <th>Last Name</th>
                                        <th>Grade</th>
                                        <th>Section</th>
                                        <th>Birthday</th>
                                        <th>Address</th>
                                        <th>UpdateAt</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach(Student student in Model.Students)
                                    {
                                        <tr>
                                            <td>@student.LRN</td>
                                            <td>@student.FirstName</td>
                                            <td>@student.MiddleName</td>
                                            <td>@student.LastName</td>
                                            <td>@student.Grade.ToString()</td>
                                            <td>@student.Section</td>
                                            <td>@student.Birthday.ToString("MM/dd/yyyy")</td>
                                            <td>@student.Address</td>
                                            <td>@student.UpdatedAt.ToString("MM/dd/yyyy")</td>
                                            <td>
                                                <div class="form-button-action">
                                                    <a href="@Url.Action("ViewRecord","Record", new{id = student.Id})" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Record">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <a href="@Url.Action("Delete","Record", new{id = student.Id})" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                               
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>

<!-- Datatables -->
<script src="~/lib/azzara-admin/assets/js/plugin/datatables/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#basic-datatables').DataTable({
            responsive: true
        });

        $('#multi-filter-select').DataTable({
            "pageLength": 5,
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });

        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function () {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
            ]);
            $('#addRowModal').modal('hide');

        });
    });
</script>
